{% extends "header.html" %}
{% load static %}  

{% block content %}

<link rel="stylesheet" href="{% static '/css/cart.css' %}">

<div class="container bg-white rounded-top mt-5" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12 pt-3">
            <div class="d-flex flex-column pt-4">
                <div><h5 class="text-uppercase font-weight-normal">shopping bag</h5></div>
                <div class="font-weight-normal">{{ Product|length }} items</div>
            </div>
            <div class="d-flex flex-row px-lg-5 mx-lg-5 mobile" id="heading">
            </div>

            {% for pro in Product %}

                {% for itm_id in itmes_id %}

                    {% if itm_id == pro.id %}

                    <div class="d-flex flex-row justify-content-between align-items-center pt-lg-4 pt-2 pb-3 border-bottom mobile">
                        <div class="d-flex flex-row align-items-center">

                            {% for img in Image %}

                                {% if img.id_product_id == pro.id %}
                                <div><img src="{% static '/img/products/' %}{{img.image}}" width="150" height="150" alt="" id="image"></div>
                                {% endif %}

                            {% endfor %}

                            <div class="d-flex flex-column pl-md-3 mx-3 pl-1">
                                <div><h6>{{pro.name}}</h6></div>
                                <div>Color:<span class="pl-3">White</span></div>
                                <div>Size:<span class="pl-4"> M</span></div>
                            </div>                    
                        </div>
                        <div class="pl-md-0 pl-1"><b></b></div>
                        <div class="pl-md-0 pl-2">
                        </div>
                        <div class="pl-md-0 pl-1"><b class="price">{{pro.price}}</b></div>
                        <a href="/delete_itmes/{{pro.id}}/cart" class="close">&times;</a>
                    </div>

                    {% endif %}

                {% endfor %}

            {% endfor %}

        </div>
    </div>
</div>
<div class="container bg-light rounded-bottom py-4" id="zero-pad">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn btn-sm bg-light border border-dark">GO BACK</button>
                </div>
                <div class="px-md-0 px-1" id="footer-font">
                    <b class="pl-md-4">SUBTOTAL $<span class="pl-md-4" id="result_price"> 0</span></b>
                </div>
                <div>
                    <a href="/checkout" class="btn btn-sm bg-dark text-white px-lg-5 px-3">CONTINUE</a>
                    <a class="btn btn-sm bg-dark text-white px-lg-5 px-3" href="/clear_cart"> clear cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/script.js' %}"></script>

{% endblock %}